<%= form_for(@torneo_apartura) do |f| %>
  <% if @torneo_apartura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@torneo_apartura.errors.count, "error") %> prohibited this torneo_apartura from being saved:</h2>

      <ul>
      <% @torneo_apartura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :groups %><br>
    <%= f.text_field :groups %>
  </div>
  <div class="field">
    <%= f.label :teams %><br>
    <%= f.text_field :teams %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
