<p id="notice"><%= notice %></p>

<h1>Listing Torneo Aparturas</h1>

<table class="table">
  <thead>
    <tr>
      <th>Groups</th>
      <th>Teams</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @torneo_aparturas.each do |torneo_apartura| %>
      <tr>
        <td><%= torneo_apartura.groups %></td>
        <td><%= torneo_apartura.teams %></td>
        <td><%= link_to 'Show', torneo_apartura %></td>
        <td><%= link_to 'Edit', edit_torneo_apartura_path(torneo_apartura) %></td>
        <td><%= link_to 'Destroy', torneo_apartura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Torneo apartura', new_torneo_apartura_path %>
