<p id="notice"><%= notice %></p>

<h1>Listing Teams</h1>

<table  class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Num Players</th>
      <th>Color</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
      
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.num_players %></td>
        <td><%= team.color %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
<%= link_to 'Generate TEams', generate_teams_path %>
