<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Players:</strong>
  <%= @team.players %>
</p>

<p>
  <strong>Color:</strong>
  <%= @team.color %>
</p>

<p>
  <strong>PlayerId:</strong>
  <%= @team.PlayerId %>
</p>
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
