<p id="notice"><%= notice %></p>

<h1>Listing Players</h1>

<table class="table">
  <thead>
    <tr>
      <th>Names</th>
      <th>Identification</th>
      <th>Team</th>
      <th>Number</th>
      <th>team id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.names %></td>
        <td><%= player.identification %></td>
        <td><%= player.team_name %></td>
        <td><%= player.number %></td>
        <td><%= player.team_id %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
