<p id="notice"><%= notice %></p>

<p>
  <strong>Names:</strong>
  <%= @player.names %>
</p>

<p>
  <strong>Identification:</strong>
  <%= @player.identification %>
</p>

<p>
  <strong>Team:</strong>
  <%= @player.team %>
</p>

<p>
  <strong>Number:</strong>
  <%= @player.number %>
</p>

<p>
  <strong>Playerid:</strong>
  <%= @player.PlayerId %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
