<p id="notice"><%= notice %></p>

<h1>Listing Matches</h1>

<table>
  <thead>
    <tr>
      <th>team home</th>
      <th>team visitor</th>
      <th>Date</th>
      <th>Score</th>
      <th>Pointsteamhome</th>
      <th>Pointsteamvisitor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.teamhome %></td>
        <td><%= match.teamvisitor %></td>
        <td><%= match.date %></td>
        <td><%= match.score %></td>
        <td><%= match.pointsTeamHome %></td>
        <td><%= match.pointsTeamVisitor %></td>
        <td><%= link_to 'Show', match %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
        <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
